.app {
	display: flex;
	padding: 30px;
}

.game {
	
	/*560 for width and height bacause is divisible by 8 (number for each row and column)*/

	
	width: 560px;
	height: 560px;
	display: flex;
	flex-wrap: wrap;
}

.game img {
	width: 70px;
	height: 70px;
}