:root {
  --white:  rgba(250, 250, 250, 1);
  --white50: rgba(250, 250, 250, 0.5);
  
  --black: rgba(50, 50, 50, 1);
  --black50: rgba(50, 50, 50, 0.5);

  --red:  rgba(250, 100, 100, 1);
  --blue: rgba(12, 191, 232, 1);
  --yellow: rgba(250, 250, 50, 1);

  --gray50: rgba(100, 100, 100, 0.5);

  --color-gradient1:  rgb(1, 255, 207);
  --color-gradient2:  rgb(255, 252, 0);
}

html, body {
  box-sizing: border-box;
  background-color: var(--yellow);

}

.app {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.game {
  /*560 for width and height bacause is divisible by 8 (number for each row and column)*/

  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 80px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: -4px 0 0 0 var(--red), -8px 0 0 0 var(--black), -10px 0 0 0 var(--blue);
  background-color: var(--white);
}

.game img {
  width: 70px;
  height: 70px;
}

.game img:hover {
  transform: scale(1.1);
}

.score-board {
  position: absolute;
  top: 5px;
  left: 50%;
  background-color: var(--white);
  box-shadow: -4px 0 0 0 var(--red), -8px 0 0 0 var(--black), -10px 0 0 0 var(--blue);
  border-radius: 10px;
  padding: 5px;
}